<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <sa-widgets-grid>
  
      <!-- row -->
      <div class="row">
  
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-8 col-sm-offset-2">
  
          <!-- Widget ID (each widget will need unique ID)-->
          <div sa-widget [colorbutton]="false" [editbutton]="false"   [deletebutton]="false"    [togglebutton]="false">
         
            <header>
                    <div class="text-center">
              <span class="widget-icon"> <i class="fa fa-database txt-color-green"></i> </span>
              <h2>&nbsp;Product Issue Type</h2>
              </div>
            </header>
  
            <!-- widget div-->
            <div>
  
              <!-- widget content -->
              <div class="widget-body">
                      <form name="prodIssueGroupForm" #compForm="ngForm" (ngSubmit)="OnSubmit()" ngNativeValidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Domain<span class="errorMessage" style="color:red;">*</span></label>
                            <select class="cleanSelect form-control" id="lng" 
                                    [(ngModel)]="prodIssueType.DomainCode" name="DomainCode" 
                                    (change)="GetProductSuiteNames(prodIssueType.DomainCode)"  required>
                                <option value="" hidden>--Select Domain--</option>
                                <option selected *ngFor ="let item of domainname" value={{item.DomainCode}}>{{item.DomainName}}</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Suite <span class="errorMessage" style="color:red;">*</span></label>
                            <select class="cleanSelect form-control" id="lng" 
                                    [(ngModel)]="prodIssueType.PsuiteCode" name="PsuiteCode" 
                                    (change)="GetProductNames(prodIssueType.PsuiteCode,prodIssueType.DomainCode)"  required>
                                <option value="" hidden>--Select Product Suite--</option>
                                <option selected *ngFor ="let item of productsuitename" value={{item.PsuiteCode}}>{{item.PsuiteName}}</option>
                            </select>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Product <span class="errorMessage" style="color:red;">*</span></label>
                                    <select class="cleanSelect form-control" id="lng" 
                                            [(ngModel)]="prodIssueType.ProductCode" name="ProductCode"  required>
                                        <option value="" hidden>--Select Product--</option>
                                        <option selected *ngFor ="let item of productname" value={{item.ProductCode}}>{{item.ProductName}}</option>
                                    </select>
                                </div>
                            </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Product Issue Type Description<span class="errorMessage" style="color:red;">*</span></label>
                          <input    type="text" class="form-control" placeholder="Enter Product Issue Type Description" 
                                    [(ngModel)]="prodIssueType.ProdgDesc" name="ProdgDesc" 
                                    autocomplete="off" saAlphaonly required/>
                      </div>
                  </div>
                
  
              </div>
              <div class="row">
                    <div class="col-sm-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="" [(ngModel)]="prodIssueType.IsGlobal" name="IsGlobal" (change)="IsGlobalChanged()" >Is Global ?
                                </label>
                            </div>
                        </div>
                  <div class="col-sm-2">
                      <div class="form-group ">
                          <label class="checkbox-inline">
                              <input type="checkbox" value="" 
                              [(ngModel)]="prodIssueType.IsActive" name="IsActive" 
                              [disabled]= "prodIssueType.IsGlobal==true? true:false">Is Active ?
                          </label>
                      </div>
                  </div>
              </div>
              <hr class="hr_basic" />
              <div class="row ">
                  <div class="col-sm-12 ">
                      <a class="btn btn-default pull-right" routerLink="/master/Product_issue_group">
                          <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                      </a>
                      <button class=" btn btn-primary btn-right pull-right" type="submit" *ngIf="!loadershow" >
                          <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                      </button>
                      <button type="button" name="" class="btn btn-primary btn-right pull-right" *ngIf="loadershow">
                          <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                      </button>
                  </div>
              </div>
            </form>
                                                  
              </div>
              <!-- end widget content -->
  
            </div>
            <!-- end widget div -->
  
          </div>
          <!-- end widget -->
  
        </article>
        <!-- WIDGET END -->
  
      </div>
  
      <!-- end row -->
  
    </sa-widgets-grid>
    <!-- end widget grid -->
  
  
</div>
<!-- END MAIN CONTENT -->
  